.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}


/*  nav designs  */
nav{
  width:1600px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.nav-title{
  font-size: 32px;
  color:#0E0E0E;
  margin-left:160px;

}
nav ul li{
  list-style:none;
}
.btn{
  color:#006A50;
  border: 1px solid #006A50;
  font-size: 18px;
  font-weight:700;
  margin-right:160px;
  padding:15px 30px;
  border-radius:5px;
}

.banner{
  width: 1280px;
  height:560px;
  background-color:#C6E4D6;
  border-radius:24px;
  margin:0 160px;
  display:flex;
  justify-content:space-between;
}
.banner-pic{
  width:474px;
  height:400px;
  margin:80px 60px 80px 0;
}
.text{
  width:622px;
  height:303px;
  margin:117px 0 117px 60px;
}
.small{
  width:622px;
  height:29px;
  font-size:24px;
  font-weight:medium;
  color:#0E0E0E;
  opacity:0.5;
  margin-top:0;
  margin-bottom:16px;
}
.big{
  font-size:56px;
  font-weight:bold;
  color:#0E0E0E;
  width:622px;
  height:201px;
  margin-bottom:24px;
}
.bn{
  width:270px;
  height:56px;
  font-size:18px;
  font-weight:semi-bold;
  background-color:#006A50;
  color:white;
  padding:17px 34px;
  border-radius:8px;
  border:none;
}
/* card designs */
.card{
  margin-left:160px;
  margin-top:24px;
  width:1280px;
  height:324px;
  display:flex;
  justify-content:space-between;
}

.card-title{
  margin-left:160px;
  font-size:40px;
  font-weight:bold;
  color:#0E0E0E;
}
.card-sub-title1{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
 }


.card-sub-title2{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
}

.card-sub-title3{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  stroke:15%;
  border-radius:16px;
}

.card-sub-title4{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
}
.heading{
  margin:24px 12px;
  font-size:20px;
  font-weight:bold;
  color:#0E0E0E;
}
.description{
  margin:12px 12px;
  font-size:16px;
  font-weight:normal;
  color:#0E0E0E;
  opacity:70%;
}
.card-pic{
  margin-left:12px;
  margin-top:12px;
}
.card-description{
  margin:0 160px;
  font-size:16px;
  font-weight:normal;
  color:#0E0E0E;
  opacity:70%;
  padding:0;
}

.color-card{
  margin:20px 160px;
  width:1280px;
  height:325px;
  display:flex;
  justify-content:space-between;
}
.pic-1{
  padding:32px 0 0 32px;
}
.pic-2{
  padding:32px 0 0 32px;
}
.pic-3{
  padding:32px 0 0 32px;
}
.heading-1{
  padding:0 32px 0 32px;
}
.heading-2{
  padding:0 32px 0 32px;
}
.heading-3{
  padding:0 32px 0 32px;
}
.description-1{
  padding:0 32px 0 32px;
}
.description-2{
  padding:0 32px 0 32px;
}
.description-3{
  padding:0 32px 0 32px;
}

.color-1{
  background-color:#96B9F3;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px; 
}
.color-2{
  background-color:#C6E4D6;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px;
}
.color-3{
  background-color:#F7EBCF;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px; 
  }
.btn-1{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:24px;
  padding:11px 20px;
  background-color:#5490F5;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
}
.btn-2{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:24px;
  padding:11px 20px;
  background-color:#09A15C;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
}
.btn-3{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:24px;
  padding:11px 20px;
  background-color:#FFC239;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
}
