.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}


/*  nav designs  */
nav{
  width:1600px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.nav-title{
  font-size: 32px;
  color:#0E0E0E;
  margin-left:160px;
}
nav ul li{
  list-style:none;
}
.btn{
  color:#006A50;
  border: 1px solid #006A50;
  font-size: 18px;
  font-weight:700;
  margin-right:160px;
  padding:15px 30px;
  border-radius:5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}

.banner{
  width: 1280px;
  height:560px;
  background-color:#C6E4D6;
  border-radius:24px;
  margin:0 160px;
  display:flex;
  justify-content:space-between;
}
.banner-pic{
  width:474px;
  height:400px;
  margin:80px 60px 80px 0;
}
.text{
  width:622px;
  height:303px;
  margin:117px 0 117px 60px;
}
.small{
  width:622px;
  height:29px;
  font-size:24px;
  font-weight:500;
  color:#0E0E0E;
  opacity:0.5;
  margin-top:0;
  margin-bottom:16px;
}
.big{
  font-family:class="fira-sans-bold";
  font-size:56px;
  font-weight:600;
  color:#0E0E0E;
  width:622px;
  height:201px;
  margin-bottom:24px;
}
.bn{
  width:270px;
  height:56px;
  font-size:18px;
  font-weight:semi-bold;
  background-color:#006A50;
  color:white;
  padding:7px 34px;
  border-radius:8px;
  border:none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.bn:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
/* card designs */
.card{
  margin-left:160px;
  margin-top:24px;
  width:1280px;
  height:324px;
  display:flex;
  justify-content:space-between;
}

.card-title{
  margin-left:160px;
  font-size:40px;
  font-weight:600;
  color:#0E0E0E;
}
.card-sub-title1{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
 }


.card-sub-title2{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
}

.card-sub-title3{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  stroke:15%;
  border-radius:16px;
}

.card-sub-title4{
  width:302px;
  height:244px;
  border:1px solid lightgray;
  border-radius:16px;
}
.heading{
  margin:24px 12px;
  font-size:20px;
  font-weight:600;
  color:#0E0E0E;
}
.description{
  margin:12px 12px;
  font-size:16px;
  font-weight:500;
  color:#0E0E0E;
  opacity:70%;
}
.card-pic{
  margin-left:12px;
  margin-top:12px;
}
.card-description{
  width:1280px;
  margin:0 160px;
  font-size:16px;
  font-weight:normal;
  color:#0E0E0E;
  opacity:70%;
  padding:0 12px;
  border:none;
}

.color-card{
  margin:20px 160px;
  width:1280px;
  height:325px;
  display:flex;
  justify-content:space-between;
}
.pic-1{
  padding:32px 0 0 32px;
}
.pic-2{
  padding:32px 0 0 32px;
}
.pic-3{
  padding:32px 0 0 32px;
}
.heading-1{
  padding:0 32px 0 32px;
}
.heading-2{
  padding:0 32px 0 32px;
}
.heading-3{
  padding:0 32px 0 32px;
}
.description-1{
  padding:0 32px 0 32px;
}
.description-2{
  padding:0 32px 0 32px;
}
.description-3{
  padding:0 32px 0 32px;
}

.color-1{
  background-color:#96B9F3;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px; 
}
.color-2{
  background-color:#C6E4D6;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px;
}
.color-3{
  background-color:#F7EBCF;
  width:410px;
  height:325px;
  border:none;
  border-radius:16px; 
  }
.btn-1{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:7px;
  padding:11px 20px;
  background-color:#5490F5;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-1:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
.btn-2{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:24px;
  padding:11px 20px;
  background-color:#09A15C;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-2:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
.btn-3{
  width:122px;
  height:41px;
  margin-left:32px;
  margin-top:24px;
  padding:11px 20px;
  background-color:#FFC239;
  border-radius:8px;
  border:none;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-3:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
.chief{
  background-image:url(../assets/quote-bg.png);
  background-repeat:no-repeat;
  background-position: 30px 15px;
  width:1280px;
  height:256px;
  margin:0 160px 0 160px;
  border:1px solid lightgray;
}

.statement{
  font-size:16px;
  font-weight:normal;
  color:#0E0E0E;
  padding:24px 24px 0 24px;
}
.name{
  font-size:20px;
  line-height:24px;
  font-weight:500px;
  color:#0E0E0E;
  padding:24px 24px 0 24px;
}
.rank{
  font-size:16px;
  font-weight:normal;
  color:#0E0E0E;
  padding:0 24px 0 24px; 
}
.tbl, th, td{
  border:1px solid gray;
  width:1280px;
  height:92px;
  border-collapse: collapse;
}
.opinion, .tbl{
  margin:0 160px 25px 160px;
}
.opinion{
  font-size:40px;
  font-weight:bold;
}
.tbl{
  font-size:20px;
}
.desh{
  max-width:1280px;
  margin:0 160px;
  font-size:20px;
}

.satelite{
  border-radius:24px;
  width:408px;
  height:306px;
  margin-top:20px;
}
.both{
  max-width:1280px;
  display:flex;
  justify-content:space-between;
  margin: 16px 200px 80px 160px;
}
.blog-title{
  font-size:32px;
}
.blog{
  width:744px;
  height:290px;
}
.btn-right{
  color:white;
  width:139px;
  height:48px;
  font-size:18px;
  font-weight:600;
  background-color:#006A50;
  border:none;
  border-radius:8px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn-right:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
.donate{
font-family:class="fira-sans-bold";
margin:0 160px 0 160px;
text-align:center;
}
.donate-1{
  text-align:center;
  font-size:40px;
  max-width: 1280px;
}
.donate-2{
  font-size:16px;
  max-width: 1280px;
}
/* button styles */
.buton {
  max-width:1280px;
  justify-content:space-around;
  border: none;
  color: rgb(175, 163, 163);
  margin: 0 245px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.3s;
  
}

.buton-1 {
  font-size: 40px;
  font-weight:bold;
  width:264px;
  height:128px;
  padding: 16px 32px;
  background-color: rgb(192, 189, 189);
  border: 2px solid #C6E4D6; 
  color: black; 
}

.buton-1:hover {
  color: white;
  background-color: gray;
}
.buton-2 {
  font-size: 40px;
  font-weight:bold;
  width:264px;
  height:128px;
  padding: 16px 32px;
  background-color: rgb(194, 187, 187);
  border: 2px solid #79e95d; 
  color: black; 
}

.buton-2:hover {
  color: white;
  background-color: rgb(231, 139, 139);
}
.buton-3 {
  font-size: 40px;
  font-weight:bold;
  width:264px;
  height:128px;
  padding: 16px 32px;
  background-color: rgb(199, 195, 195);
  border: 2px solid #a1f541; 
  color: black; 
}

.buton-3:hover {
  color: white;
  background-color: rgb(231, 140, 140);
}
.buton-4 {
  font-size: 40px;
  font-weight:bold;
  width:264px;
  height:128px;
  padding: 16px 32px;
  background-color: rgb(194, 185, 185);
  border: 2px solid #3ae434; 
  color: black; 
}

.buton-4:hover {
  color: white;
  background-color: #4680fc;
}
#username{
  border:1px solid lightgray;
  opacity:0.4;
  width:220px;
  margin:0 300px;
  padding:20px 400px
}
.buton-5{
  align-items:center;
  justify-content:center;
  margin-top:25px;
  margin-left:700px;
  font-size: 18px;
  font-weight:500;
  width:151px;
  height:70px;
  padding: 16px 20px;
  background-color:#006A50;
  border: none;
  border-radius:8px;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}
.buton-5:hover{
  color: white;
  background-color: rgb(231, 140, 140);
}
.sub{
  border-radius:15px;
  background-color: #C6E4D6;
  margin:80px 160px 0 160px;
}
.news{
  font-family:class="fira-sans-bold";
  font-size:40px;
  font-weight:bold;
  text-align:center;
  padding-top:80px;
}
.news-1{
  color:#0E0E0E;
  font-size:16px;
  text-align:center;
}
.last{
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:750px;
  height:56px;
  margin-left: 350px;
  border:none;
  font-size:24px;

}
#email{
  color:black;
  font-size:20px;
  padding-left:18px;
  background-color:white;
  width:85%;
  height:56px;
  border:none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#subscribe{
  color:white;
  font-size:20px;
  padding-left:18px;
  background-color:#006A50;
  width:15%;
  border:none;
  height:56px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.news-2{
  text-align:center;
  padding-top:30px;
  padding-bottom:80px;
}
.Bd{
  font-family:class="fira-sans-bold";
  text-align:center;
  margin-top:130px;
  font-size:32px;
  font-weight:bold; 
}
.foot{
  margin:20px 160px 20px 160px;
  width:1280px;
  height:300px;
  background-color:#C6E4D6;
}
.face{
  width:24px;
  height:24px;
  display:flex;
  justify-content:space-between;
}
.insta{
  width:24px;
  height:24px;
  display:flex;
  justify-content:space-between;
}
.tw{
  width:24px;
  height:24px;
  display:flex;
  justify-content:space-between;
}


   
  